<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OMORO</title>

    <!-- Mobile Specific Settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Icon Fonts: Entypo -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skin-white.css">
    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript>

  </head>
  <body>

    <header id="header">
      <h1><a href="index.html">Omoro</a></h1>
      <h2>For all your web & design needs</h2>
    </header>

    <div id="container">

      <nav id="mainnav" role="navigation">
        <ul>
          <li class="active"><a href="index.html"><i class="icon-group"></i> What We Do</a></li>
          <li><a href="portfolio.html"><i class="icon-check"></i> What We've Done</a></li>
          <li><a href="contact.html"><i class="icon-question"></i> What Can We Do for You?</a></li>
        </ul>
      </nav>

      {{ content }}

      </div> <!-- /main-content -->


    <footer id="footer">
      <p>OMORO Copyright 2013</p>
    </footer> <!-- /footer -->

    <!-- JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/parsley.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/jquery.cycle2.min.js"></script>
    <script src="js/jquery.cycle2.swipe.min.js"></script>
    <script src="js/jquery.tooltipster.min.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/twitter-fetcher.min.js"></script>
    <script src="js/scripts.js"></script>

  </body>
</html>